<nav class="navbar">
    <a class="navbar-brand" data-href="index.html">
        <img data-src="assets/imgs/brand/nateandco-icon-animated.svg" alt="Nate&Co logo">
    </a>

    <button class="navbar-toggle" id="navbar-toggle" aria-label="Toggle navigation">
        ☰
    </button>

    <div class="nav-links" id="nav-links">
        <a data-href="index.html">Home</a>
        <a data-href="about.html">About</a>
        <a data-href="labs.html">Labs</a>
        <a data-href="online-cv.html">Online CV</a>
        <a data-href="projects.html">Projects</a>
        <a data-href="workshop.html">Workshop</a>
        <a data-href="generic-dungeon-game-v1/index.html">Dungeon Game</a>
    </div>
</nav>